<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, ">

    <!-- Title -->
    <title>Fumaz | My Customers</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}">
</head>
<body>

<!-- Wrapper -->
<div class="container-fluid min-vh-100">
    <div class="text-center">
        <br>
        <!-- Rounded Logo -->
        <img src="{{ url_for('static', filename='assets/logo.png') }}" class="img-responsive rounded-circle logo"
             alt="Fumaz's Logo">
        <br>
        <h1 class="name">My Customers</h1>
        <p>Here's a few of the people I've worked for!</p>
        <br>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                <!-- MunchyMC -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://www.munchymc.com/forums/uploads/default/original/3X/8/8/882893b54c4f773fad85b375c7afc52e89d03b72.jpeg"
                             class="card-img-top" alt="MunchyMC">
                        <div class="card-body">
                            <h5 class="card-title">MunchyMC</h5>
                            <p class="card-text">
                                MunchyMC is a Minecraft Java Edition server.<br>The server offers a variety of unique
                                gamemodes, like woolwars and
                                kitpvp.
                                I've been a developer there for almost 2 years, and am currently the main woolwars
                                developer.
                            </p>
                            <a href="https://munchymc.com" class="btn btn-primary"><i class="fas fa-link"></i> Visit
                                them</a>
                        </div>
                    </div>
                </div>

                <!-- TapL -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://img.youtube.com/vi/OPKYrrgVEg0/maxresdefault.jpg"
                             class="card-img-top" alt="TapL">
                        <div class="card-body">
                            <h5 class="card-title">TapL</h5>
                            <p class="card-text">
                                TapL is a Minecraft YouTuber with over 3 million subscribers.<br>He
                                mainly
                                posts Minecraft-related content, and I've been developing the plugins and mods he uses
                                in his "Minecraft But" videos for the past few months.
                            </p>
                            <a href="https://youtube.com/c/TapLHarv" class="btn btn-primary"><i class="fas fa-link"></i>
                                Visit them</a>
                        </div>
                    </div>
                </div>

                <!-- BadBoyHalo -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://i.imgur.com/9213LZZ.png"
                             class="card-img-top" alt="BadBoyHalo">
                        <div class="card-body">
                            <h5 class="card-title">BadBoyHalo</h5>
                            <p class="card-text">
                                BadBoyHalo is a Minecraft Youtuber with almost 3 milion subscribers.<br>
                                He owns MunchyMC, the server I'm a developer at, and I've also made a few projects just
                                for him, including his sponsor server discord bot.
                                <br>
                                <br>
                            </p>
                            <a href="https://youtube.com/c/TapLHarv" class="btn btn-primary"><i class="fas fa-link"></i>
                                Visit them</a>
                        </div>
                    </div>
                </div>

                <!-- McBirken -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://img.youtube.com/vi/EXDWjpwcjl0/maxresdefault.jpg"
                             class="card-img-top" alt="McBirken">
                        <div class="card-body">
                            <h5 class="card-title">McBirken</h5>
                            <p class="card-text">
                                McBirken is a Minecraft YouTuber with over 500k subscribers.<br>
                                He posts lots of various minecraft content, like Minecraft Manhunts and Minecraft Buts.
                                <br>
                                <br>
                                <br>
                            </p>
                            <a href="https://youtube.com/c/McBirken" class="btn btn-primary"><i class="fas fa-link"></i>
                                Visit them</a>
                        </div>
                    </div>
                </div>

                <!-- NotNico -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://img.youtube.com/vi/zdh9Fnde_aU/maxresdefault.jpg"
                             class="card-img-top" alt="NotNico">
                        <div class="card-body">
                            <h5 class="card-title">NotNico</h5>
                            <p class="card-text">
                                NotNico is a Minecraft YouTuber with over 300k subscribers.<br>
                                He posts various minecraft content, but is most famous for his videos where he showcases
                                his bridging techniques.
                                <br>
                                <br>
                            </p>
                            <a href="https://www.youtube.com/channel/UC2OTr2ZnuJg1TAZ5_xcb9Rw"
                               class="btn btn-primary"><i class="fas fa-link"></i> Visit them</a>
                        </div>
                    </div>
                </div>

                <!-- Wudo -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://img.youtube.com/vi/3T0KpZC6SyQ/maxresdefault.jpg"
                             class="card-img-top" alt="Wudo">
                        <div class="card-body">
                            <h5 class="card-title">Wudo</h5>
                            <p class="card-text">
                                Wudo is a new Minecraft YouTuber with over 50k subscribers.<br>
                                His videos are all about Minecraft, especially manhunts and minecraft buts. He has
                                gained quite the following in a short period of time.
                                <br>
                                <br>
                            </p>
                            <a href="https://www.youtube.com/channel/UCbP99m-086tpu035eqMWKqQ"
                               class="btn btn-primary"><i class="fas fa-link"></i> Visit them</a>
                        </div>
                    </div>
                </div>

                <!-- Cyrotech -->
                <div class="col">
                    <div class="card bg-dark">
                        <img src="https://img.youtube.com/vi/_84WRA81wgw/maxresdefault.jpg"
                             class="card-img-top" alt="Cyrotech">
                        <div class="card-body">
                            <h5 class="card-title">Cyrotech</h5>
                            <p class="card-text">
                                Cyrotech is a Minecraft YouTuber with over 100k subscribers.<br>
                                He posts lots of variety content, and is one of my closest friends. He is very cool, so
                                check him out!
                                <br>
                                <br>
                                <br>
                            </p>
                            <a href="https://www.youtube.com/c/Cyrotech" class="btn btn-primary"><i
                                    class="fas fa-link"></i> Visit them</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid dynamic-footer">
    <span class="text-muted">Copyright © 2021 Fumaz. All rights reserved.</span>
</div>

<!-- FontAwesome JS -->
<script crossorigin="anonymous" src="https://kit.fontawesome.com/29da107a8d.js"></script>

<!-- Bootstrap Bundle JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

